.card {
  width: 20vw;
  align-items: center;
  text-align: center;
  border-radius: 15px !important;
  margin-left: 1.5vw;
  margin-top: 2vw;
  background-color: #f1edf4 !important;
}
.card-img {
  max-width: 12vw;
}
.btn-compra {
  margin-right: 1vw;
  background-color: #9bc43d !important;
  border: #80a52a !important;
}
.btn-compra,
.btn-carrello {
  width: 6vw !important;
  border-radius: 12px !important;
}
