.parallax-P {
  font-size: 5vw;
}
.parallax-new {
  padding-top: 18vh;
  padding-left: 16vw;
}
.dolcetto-img {
  width: 30vw !important;
  height: auto;
  z-index: -1;
  margin-left: -20vw;
}
.btn-goShop {
  margin-top: -12vw;
  /*margin-left: -5vw;*/
  width: 10vw !important;
  height: auto;
  background-color: #f9d65a !important;
  border-color: #d1b44a !important;
  color: #ffffff !important;
}
